<p id="notice"><%= notice %></p>

<p>
  <strong>Itrix:</strong>
  <%= @register.itrix_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @register.name %>
</p>

<p>
  <strong>College:</strong>
  <%= @register.college %>
</p>

<p>
  <strong>Year:</strong>
  <%= @register.year %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @register.mobile %>
</p>

<p>
  <strong>Email:</strong>
  <%= @register.email %>
</p>

<%= link_to 'Edit', edit_register_path(@register) %> |
<%= link_to 'Back', registers_path %>
